<div class='sobre-mim'>
    <img src="https://i.pinimg.com/736x/c6/77/ab/c677ab9acb18763c82f1217f6a90f84b.jpg" alt="">
    <h2>sobre mim</h2>
    <p class='conteudo'>Eu sou Amanda Melissa, tenho 17 anos, amo programar, fazer contas de matemática e sou apaixonada por desenvolvimento web.</p>

    <div class="redes-sociais">
        <a href="https://github.com/amandamelissa" target="_blank"><i class="fa-brands fa-github"></i>Amandamelissa</a>
        <a href="https://instagram.com/amandamfnobre" target="_blank"><i class="fa-brands fa-instagram"></i>@amandamfnobre</a>
    </div>
</div>